src/main/mule/devopstest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="61f8b48b-bd09-40ae-965a-5a691c181c6d" basePath="/devops-test">
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="devopstestFlow" doc:id="f05a1a15-4b27-4daa-a6e6-c6fd1ffb01a7" >
		<http:listener doc:name="Listener" doc:id="b0052069-a6bd-4238-bcb5-bf1f79aca38f" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="fec295f6-2b29-4758-aec0-28546770a748" />
	</flow>
</mule>
